/***** baking *****/
.baking .flexContainer{
    justify-content: center;
    text-align: center;
}
.bakingItems{
    margin-top: 1.25rem;
}
.bakingItem{
    padding: 0.625rem;
}
.bakingTitle{
    margin: 0.625rem 0;
}
.bakingItem figcaption{
    color: var(--gray-text);
    line-height: 1.86em;
    margin-bottom: 1.25rem;
}
@media only screen and (min-width:1024px) {
    .bakingItems{
        display: flex;
        justify-content: space-around;
    }
    .bakingItem{
        width: 30.5%;
        padding: 0.3125rem 0.625rem;
    }
}
/***** End baking *****/