/***** about *****/
.about .flexContainer{
    justify-content: center;
}
.aboutList li{
    color: var(--gray-text);
    display: flex;
    margin: 0.625rem 0;
    align-items: baseline;
}
.about .icon{
    text-align: center;
}
.about .titleDesc{
    text-align: center;
    margin-bottom: 1.25rem;
    line-height: 1.86em;;
}
.aboutImg{
    margin-bottom: 0.625rem;
}
@media only screen and (min-width:1024px) {
    .about .flexContainer{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .aboutImg{
        width: 50%;
    }
    .aboutHeader{
        width: 50%;
        padding: 0.9375rem 2.25rem 0;
    }
}
/***** End about *****/